* {
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.engine_manager_form_container {
  overflow: scroll;
  margin: 10px;
  padding: 4px;
  border: solid 1px rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
  display: flex;
}

.list_of_engine_non_part_create_form_grid_container input {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
}

.create_engine_form,
.update_engine_form {
  margin: 10px;
  padding: 10px;
  border: solid 1px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.list_of_engine_part_update_form_grid_container input {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
}

.list_of_engine_container {
  overflow: scroll;
  margin: 10px;
  padding: 10px;
  border: solid 1px rgb(0, 0, 0);

  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
  background-color: rgb(255, 255, 255);
}

.list_of_engine_row {
  padding: 10px;
  border: 1px solid rgb(150, 150, 150);
  inline-size: 400px;
  background-color: rgb(240, 240, 240);
}

.list_of_engine_row div {
  padding: 4px;
}

.list_of_engine_part_grid_container {
  display: grid;
  padding: 4px;
  grid-template-columns: auto auto;
  border: 1px dotted rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  
}

.list_of_engine_non_part_container {
  text-transform: uppercase;
}

#remark_content {
  overflow: scroll;
  inline-size: auto;
}

.completed_status {
  text-transform: uppercase;
  color: rgb(50, 200, 50);
}

.incompleted_status {
  text-transform: uppercase;
  color: rgb(250, 50, 50);
}

.list_of_engine_row:hover {
  cursor: pointer;
  background-color: rgb(240, 255, 240);
}

input[submit] {
  cursor: pointer;
}